@{
    ViewData["Title"] = "Access denied";
}

<h2>You do not have permission to access this page!</h2>
<a asp-controller="Student" asp-action="Index" class="btn btn-secondary mt-3">Score Calculator</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-info mt-3">Login</a>
